<div class="col-lg-6 px-0" id="factsheet-block">
  <div class="block-lbl">
    Factsheet List(<span id="selected-factsheet-count">0</span>)
    <span class="add-factsheets add-fs-btn"/>
      Add Factsheets
    </span>
  </div>
  <% factsheets && factsheets.each do | factsheet |%>
    <div class="factsheet-div" id="factsheet<%= factsheet.id %>" 
      data-factsheetId="<%= factsheet.id %>">
      <div id="factsheet-status" class="form-check">
        <input class="form-check-input factsheet-checkbox" type="checkbox" value="<%= factsheet.id %>" id="factsheet<%= factsheet.id %>">
        <div class="factsheet-label" for="factsheet<%= factsheet.id %>">
          <%= factsheet.title %>
        </div>
        <div class="fs-plus fs-sign" data-id="factsheet<%= factsheet.id %>" data-factsheetId="<%= factsheet.id %>">
          <i class="fa fa-plus"></i>
        </div>
      </div>
      <div class="factsheet-date">
        <%= factsheet.created_at.strftime("%B %d, %Y")%>
      </div>
    </div>
  <% end %>
  <% if factsheets.blank? %>
    <div class="col-lg-6 factsheet-block">
      <center>There is no factsheet available now.</center>
    </div>
  <% end %>
</div>
<div class="col-lg-6 px-0" id="folder-factsheet-block">
  <div class="block-lbl">
    Added Factsheet List
    (<span id="added-factsheets-count"><%= added_factsheets.present? ? added_factsheets.length : 0%></span>)
    <span class="remove-factsheets add-fs-btn"/>
      Remove Factsheets
    </span>
  </div>
  <div id="add-factsheet-div">
    <% added_factsheets.present? && added_factsheets.each do | factsheet |%>
      <div class="factsheet-div" id="factsheet<%= factsheet.id %>" 
      data-factsheetId="<%= factsheet.id %>">
        <div id="factsheet-status" class="form-check">
          <input class="form-check-input added-factsheet-checkbox" type="checkbox" value="<%= factsheet.id %>" id="factsheet<%= factsheet.id %>">
          <div class="factsheet-label" for="factsheet<%= factsheet.id %>">
            <%= factsheet.title %>
          </div>
          <div class="fs-cross fs-sign" data-id="factsheet<%= factsheet.id %>" data-factsheetId="<%= factsheet.id %>">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="factsheet-date">
          <%= factsheet.created_at.strftime("%B %d, %Y")%>
        </div>
      </div>
    <% end %>
  </div>
</div>


