<%= form_with(model: [:admin, factsheet_folder]) do |form| %>
  <% if factsheet_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factsheet_folder.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% factsheet_folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="name">Factsheet Folder Type</label>
     <%= form.select :questionnaire_category_id, options_for_select(questionnaire_categories_hash), {:prompt => "Select Questionnaire Category"}, class:"form-control mandatory_field" %>
  </div>
  <div class="form-group">
    <label for="name">Factsheet Folder Name</label>
    <%= form.text_field :name, class:"form-control", id: "name" %>
  </div>
  <div class="form-group">
    <%= form.submit id: "factsheet_folder_submit", class: "btn btn-primary btn-large col-lg-12", onClick: "return validateFactsheetFolderForm();" %>
  </div>
<% end %>
