<% @questions.each_with_index do | question, index | %>
  <% if index % 4 == 0%>
    <div class="pdf-page">
      <!--
        <div id="pdf-watermark-text">
          <span class="channel-widget">Xpress News</span>
        </div> 
      -->
  <% end %>
  <div class="pdf-question-block">
    <div class="pdf-current-affair-question">
      <span class="ques-index">Que <%= index+1%>.</span> &nbsp;<%= question.question%>
    </div>
    <div class="pdf-options-block">
      <div class="pdf-question-option">
        <div class="option <%= is_answer(question.option1, question.answer) %>">A.&nbsp;<%= question.option1%></div>
        <div class="option <%= is_answer(question.option2, question.answer) %>">B.&nbsp;<%= question.option2%></div>
        <div class="option <%= is_answer(question.option3, question.answer) %>">C.&nbsp;<%= question.option3%></div>
        <div class="option <%= is_answer(question.option4, question.answer) %>">D.&nbsp;<%= question.option4%></div>
      </div>
      <% if question.keypoints.present? %>
        <div class="pdf-question-keypoints">
          <div class="pdf-keypoints-label">Keypoints :</div>
          <%=raw question.keypoints.gsub("\n", "<br/>") %>
        </div>
      <% end %>
    </div>
  </div>
  <% if (index % 4 == 3) || (question.id == @questions.last.id)%>
    </div>
  <% end %>
  <% if question.id == @questions.last.id %>
    <div></div>
  <% end %>
<% end %>