<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <a id="dashboard-menu" href="<%= admin_dashboards_path %>" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Dashboard</span>
      </div>
    </a>
    <a id="scrapping-menu" href="#scrappingList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Scrappings</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <div id='scrappingList' class="collapse sidebar-submenu">
      <a href="<%= admin_scrapping_data_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Scrap To Data</span>
      </a>
      <a href="<%= unread_admin_scrapping_data_path %>" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Unread Scrapping Data</span>
      </a>
      <a href="<%= hold_admin_scrapping_data_path %>" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Hold Scrapping Data</span>
      </a>
    </div>
    <a id="question-menu" href="#questionList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Questions</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <div id='questionList' class="collapse sidebar-submenu">
      <a href="<%= admin_questions_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Questions</span>
      </a>
      <a href="<%= new_admin_question_path %>" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Create Questions</span>
      </a>
    </div>
    <a id="questionnaire-menu" href="#questionnaireList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Questionnaires</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <!-- Submenu content -->
    <div id='questionnaireList' class="collapse sidebar-submenu">
      <a href="<%= admin_questionnaires_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Questionnaires</span>
      </a>
      <a href="<%= new_admin_questionnaire_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Create Questionnaire</span>
      </a>
      <a href="<%= add_questions_page_admin_questionnaires_path %>" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Add Questions In Questionnaire</span>
      </a>
    </div>
    <a id="factsheet-menu" href="#factsheetList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Factsheets</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <!-- Submenu content -->
    <div id='factsheetList' class="collapse sidebar-submenu">
      <a href="<%= admin_factsheets_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">FactSheets</span>
      </a>
      <a href="<%= new_admin_factsheet_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Create Factsheets</span>
      </a>
    </div>
    <a id="folder-menu" href="#folderList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Factsheet Folders</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <!-- Submenu content -->
    <div id='folderList' class="collapse sidebar-submenu">
      <a href="<%= admin_factsheet_folders_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Folder List</span>
      </a>
      <a href="<%= new_admin_factsheet_folder_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Create Folder</span>
      </a>
      <a href="<%= add_factsheet_page_admin_factsheet_folders_path %>" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Add Factsheet In Folder</span>
      </a>
    </div>
    <a id="presentation-menu" href="#presentationList" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Presentations</span>&nbsp;&nbsp;<i class="crt-afr-icon fa fa-plus"></i>
      </div>
    </a>
    <div id='presentationList' class="collapse sidebar-submenu">
      <a href="<%= questionniares_admin_presentations_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Questionnaire</span>
      </a>
      <a href="<%= folder_factsheets_admin_presentations_path %>" class="list-group-item list-group-item-action ">
        <span class="menu-collapsed">Factsheet/Folder</span>
      </a>
    </div>
    <a id="questionnaire-presentation" href="<%= admin_presentations_path %>" class=" list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="menu-collapsed">Reports</span>
      </div>
    </a>
  </ul>      
</div>