<% scrapping_data.each do |datum|%>
  <div class="scrapping-data" data-scrap_data_id="<%= datum.id %>">
    <div class="row ca-header">
      <%= raw datum.title %>
    </div>
    <div class="row ca-description">
      <%= raw datum.description %>
    </div>
    <div class="row ca-keypoints">
      <%= raw datum.keypoints %>
    </div>
  </div>
  <%= paginate scrapping_data, window:1,  remote: true %>
<% end %>
