<% scrapping_data.each do |datum|%>
  <div class="row">
    <div class="scrapping-data-fr-ques col-md-12 mx-0" data-scrap_data_id="<%= datum.id %>">
      <div class="ca-header">
        <%= raw (datum.title.present? ? datum.title.strip : '') %>
      </div>
      <div class="ca-description" style="margin-left: -20px;">
        <%= raw (datum.description.present? ? datum.description.strip : '') %>
      </div>
      <div class="ca-keypoints">
        <%= raw (datum.keypoints.present? ? datum.keypoints.strip : '') %>
      </div>
    </div>
  </div>
<% end %>
<%= paginate scrapping_data,  window:1,  remote: true %>
