<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Factsheet</th>
      <th scope="col">Questionnaire</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if factsheets.present? %>
      <% factsheets.each_with_index do | factsheet, index | %>
        <tr>
          <th scope="row"><%= get_question_index(page, index) %></th>
          <td><%= factsheet.title %></td>
          <td><%= factsheet.factsheet_folder.present? ? factsheet.factsheet_folder.name : '' %></td>
          <td>
            <%= link_to admin_factsheet_path(factsheet) do %>
              <i class="fas fa-eye" aria-hidden="true"></i>
            <% end %>
            <%= link_to edit_admin_factsheet_path(factsheet), class: 'edit_questionnaire' do %>
              <i class="fas fa-edit" aria-hidden="true"></i>
            <% end %>
            <%= link_to admin_factsheet_path(factsheet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_questionnaire' do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='4'>
          <center>There is no data now.</center>
        </td>
      </tr>
    <%end%>    
  </tbody>
</table>
<%= paginate factsheets,  window:1,  remote: true %>