<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="question-form-title"><center>Factsheet</center></div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="clear form-title-divider"></div>
<br/>
<div class="question-show-block">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 qestn-hdr">
      Title :
    </div>
    <div class="col-md-8">
      <%= @factsheet.title %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="clear form-title-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 qestn-hdr">
      Questionnaire :
    </div>
    <div class="col-md-8">
      <%= @factsheet.factsheet_folder.blank? ?  'Not Available Now' : @factsheet.factsheet_folder.name %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="clear form-title-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 qestn-hdr">
      Description :
    </div>
    <div class="col-md-8">
      <%= raw @factsheet.description%>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="clear form-title-divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <%= link_to edit_admin_factsheet_path(@factsheet), class: 'edit_question' do %>
        <i class="fas fa-edit" aria-hidden="true"></i> Edit
      <% end %>&nbsp;&nbsp;
      <%= link_to admin_factsheet_path(@factsheet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_question' do %>
          <i class="fas fa-trash-alt"></i> Delete
      <% end %>&nbsp;&nbsp;
      <%= link_to  'Back to Index', admin_factsheets_path, class: "back_to_index" %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="clear form-title-divider"></div>
    </div>
  </div>
</div>