<div class="col-lg-6 px-0" id="question-block">
  <div class="block-lbl">
    Question List&nbsp;(<span id="selected-ques-count">0</span>)
    <div class="add-questions">Add Questions</div>
  </div>
  <% questions && questions.each do | question |%>
    <div class="question-div" id="question<%= question.id %>" data-questionId="<%= question.id %>">
      <div id="question-status" class="form-check">
        <input class="form-check-input question-checkbox" type="checkbox" value="<%= question.id %>" id="question<%= question.id %>">
        <div class="question-label" for="question<%= question.id %>">
          <%= question.question %>
        </div>
        <div class="ques-plus ques-sign" data-id="question<%= question.id %>" data-questionId="<%= question.id %>">
            <i class="fa fa-plus"></i>
          </div>
      </div>
      <div class="question-date">
        <%= question.created_at.strftime("%B %d, %Y")%>
      </div>
    </div>
  <% end %>
  <% if questions.blank? %>
    <div class="col-lg-12 question-block">
      <center>There is no question available now.</center>
    </div>
  <% end %>
</div>
<div class="col-lg-6 px-0" id="questionnaire-question-block">
  <div class="block-lbl">
    Added Question List
    (<span id="questions-count"><%= added_questions.present? ? added_questions.length : 0%></span>)
    <div class="remove-questions">Remove Questions</div>
  </div>
  <div id="add-question-div">
    <% added_questions.present? && added_questions.each do | question |%>
      <div class="question-div" id="question<%= question.id %>" data-questionId="<%= question.id %>">
        <div id="question-status" class="form-check">
          <input class="form-check-input added-question-checkbox" type="checkbox" value="<%= question.id %>" id="question<%= question.id %>">
          <div class="question-label" for="question<%= question.id %>">
            <%= question.question %>
          </div>
          <div class="ques-cross ques-sign" data-id="question<%= question.id %>" data-questionId="<%= question.id %>">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="question-date">
          <%= question.created_at.strftime("%B %d, %Y")%>
        </div>
      </div>
    <% end %>
  </div>
</div>