<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="<%= root_path %>" class="navbar-brand"><b>Xpress Current Affairs</b></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <% if current_user.blank? %>
      <div class="navbar-nav ml-auto action-buttons">
        <div class="nav-item">
          <a href="<%= new_user_session_path %>" class="nav-link mr-4">Login</a>
        </div>
        <div class="nav-item">
          <a href="<%= new_user_registration_path %>" class="btn btn-primary sign-up-btn">Sign up</a>
        </div>
      </div>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <% if is_admin(current_user) %>
          <li class="nav-item active">
            <a class="nav-link" href="<%= admin_dashboards_path %>">Dashboard<span class="sr-only">(current)</span></a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="#">Current Affairs Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Account</a>
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            <a href="/users/sign_out" class="dropdown-item" data-method="delete" 
              rel="nofollow">Sign Out</a>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
